[submodule "azure-umqtt-c"]
	path = umqtt
	url = https://github.com/lirenhe/azure-umqtt-c.git
	branch = develop
[submodule "azure-uamqp-c"]
	path = uamqp
	url = https://github.com/Azure/azure-uamqp-c.git
	branch = master
[submodule "c-utility"]
	path = c-utility
	url = https://github.com/lirenhe/azure-c-shared-utility
