[submodule "c-utility"]
	path = c-utility
	url = https://github.com/lirenhe/azure-c-shared-utility
[submodule "parson"]
	path = parson
	url = https://github.com/lirenhe/parson
[submodule "iothub_service_client/parson"]
	path = iothub_service_client/parson
	url = https://github.com/lirenhe/parson
[submodule "umqtt"]
	path = umqtt
	url = https://github.com/lirenhe/azure-umqtt-c
